<!-- <navtabs page-name="state.pageName"></navtabs> -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">    
    <div class="container">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand img-circle"><img src="" alt="Zzish Logo here"></a>
          </div>
        </div>        
        
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="navbar-collapse collapse menu">          
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#home"><i class="fa fa-home"></i>Home</a></li>
              <li><a href="#about"><i class="fa fa-user"></i>About Us</a></li>
              <li><a href="#services"><i class="fa fa-cogs"></i>Services</a></li>
              <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
              <li><a href="#blog"><i class="fa fa-pencil"></i>Blog</a></li>
              <li><a href="#contact"><i class="fa fa-envelope"></i>Contact</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.row -->
    </div>
  </nav>

  <hr>
  <br>
  

 <section id="about">
    <div class="outer_container" style:"min-height:400px;">
      <div class="container">
        <div class="row">
          <div class="col col-md-5 col-sm-12"><h1>Cla Test</h1></div>
          <div class="col col-md-7 col-sm-12 center-row" id="about_content">
            <div class="row center">
              <div class="col col-md-4 col-sm-12 templatemo_ceo">
                <img src="../static/images/face-samir.png" alt="Linda" class="center-block img-circle img-responsive">
                <p>Samir, CTO</p>
              </div>
              <div class="col col-md-8 col-sm-12">
                <p>asdasdas <a href="#">asdasdas</a> based on Boasdasdasdasdaste.</p>
                <p>Vestibulum ac enim.Vestibulum at mollis justo, eu elementum nisi. Sed consequat odio eget nunc tristique venenatis. Nullam non eros molestie, tristique libero ut, lacinia diam.</p>
                <p>Integer hendrerit nibh at aliquam tincidunt. Duis auctor congue arcu eget congue. Vestibulum tristique sollicitudin est, non porttitor est viverra quis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<section id="team">
    <div class="outer_container">
      <div class="container">
        <div class="paddinglr10">
          <h1>Agenda</h1>
          <form ng-submit="addItem()">
            <fieldset>
            <!--   <input type="text" placeholder="Add something.." size=50 ng-model="state.newItem" />
              <button class="btn btn-primary">Add Item</button> -->
              <br> <hr>

            </fieldset>
          </form>

          <button class="btn" ng-click="setAndRetrieveLastNItems(5)">
          Retrieve last 5 items
          </button>
          <button class="btn" ng-click="setAndRetrieveLastNItems(10)">
          Retrieve last 10 items
          </button>
          <button class="btn" ng-click="setAndRetrieveLastNItems(15)">
          Retrieve last 15 items
          </button>
          <button class="btn" ng-click="addGoal()">
          Add a goal
          </button>
          <button class="btn" ng-click="resetGoals()">
          Reset goals
          </button>

          <div class='well' ng-model='goals'>
            <strong>Tasks Here:</strong>
            <input type= "text" placeholder="Add a task here.." size=50 ng-model="newgoal">
            <button class="btn btn-primary" ng-click="addGoal(newgoal)">Add Tasks </button>
            <br>
             
            <!-- {{goals}} -->
        <!--     <ul ng-repeat="goal in goals">
              <li ng-model="goal"> {{goal}} </li>
            </ul>
         -->  
            </div>

          <table class="table">
            <thead>
              <th>Number</th>
              <th>Text</th>
            </thead>
            <tbody>
              <tr ng-repeat="goal in goals" ng-model='goals'>

                <td> 
                 <input id="demo_box_2" class="css-checkbox" type="checkbox" ng-model="targetGoal" ng-click="finishGoal(goal)" >
                  <label for="demo_box_2" name="demo_lbl_2" class="css-label">{{goal.title}}</label>
                  </td>
                <td>
                 <input id="demo_box_1" class="css-checkbox" type="checkbox" ng-model="targetGoal" ng-click="inProgress(goal)" >
                  <label for="demo_box_1" name="demo_lbl_1" class="css-label">{{goal.done}}</label>



                </td>
              </tr>
            </tbody>
          </table>
        </div>       

      </div>
    </div>
  </section>


  <section id="services">
    <div class="outer_container">
      <div class="container">
        <div class="row">
          <div class="col col-md-5 col-sm-12 col-xs-12">
            <h1>Student Info</h1>
          </div>

            <div class="container">
              <div class="row">

                <div class='center-form panel'>
                  <div class='panel-body'>

                          <form method="post" name="loginForm">
                          <div class="well">
                            <strong>Student Info</strong> 
                            <div ng-app ng-controller="StudentController">
                              <input name='student-description' ng-model='studentDescription' ng-placeholder='Descrition Here'>
                      
                              <p> Your Name <span style='color:red;'>{{studentDescription}}</span>! </p> 

                              <br>
                                  <button type="submit" class="btn btn-sm btn-success" ng-click="addRightCount()">Add Right Answer</button>
                              <br>

                                  <button type="submit" class="btn btn-sm btn-success" ng-click="addWrongCount()">Add Wrong Answer</button>
                              <br>                  

                              <p>Input right answers: </p>


                              <input name="right-number" ng-model='rightNumber' ng-placeholder='How many numbers did this person get right'> <br>

                              <p>Input wrong answers: </p>
                              <input name"wrong-number" ng-model='wrongNumber'  ng-placeholder='How many numbers did this person get right'> <br>

                              <br>
                              <div class="btn btn-default"> Right Answers: {{rightNumber}} </div>
                                <div class="btn btn-default"> Wrong Answers {{wrongNumber}} </div>
                              <br>
              
                              <hr>


                            </div>
                          </div>






                          <button type="submit" class="btn btn-lg btn-block btn-success">Add Student</button>
                          </form>
                  </div>
                </div>

              </div>

            </div>



        </div>
      </div>
    </div>
  </section>


  <section id="testContainer">
    <div class="outer_container">
      <div class="container">
        <div class='row'>
          <!-- FIRST STUDENT INFO BOX -->
          <div class="col col-md-3"> 

            <div class='center-form panel'>
                <div class='panel-body'>
                  <form method="post" name="loginForm">
                    <strong>Student Info</strong>
                    <div ng-app ng-controller="StudentController">

                      <input name='student-description' ng-model='studentDescription' ng-placeholder='Descrition Here'>
                      
                      <p> Your Name <span style='color:red;'>{{studentDescription}}</span>! </p>
                      

                      <br>
                          <button type="submit" class="btn btn-sm btn-success" ng-click="addRightCount()">Add Right Answer</button>
                      <br>   
                      
                      <button type="submit" class="btn btn-sm btn-success" ng-click="addWrongCount()">Add Wrong Answer</button>
                      <br>     
                      
                      <br>
                      <div class="btn btn-default"> Right Answers: {{rightNumber}} </div>
                        <div class="btn btn-default"> Wrong Answers {{wrongNumber}} </div>
                      <br>

                      <hr>
                      

                    </div>

                </div>
            </div>





          </div>
          
          

          <div class="col col-md-3"> 2 
          </div>
          
          
          <div class="col col-md-3"> 3 
          </div>
          
          <div class="col col-md-3"> 4 
          </div>
        </div>
      </div>
    </div>
  </section>



