<p> YAYY</p>


  <div id="wrapper" class="wrapper" data-asm-wrapper>
    <section id="buttons">
      <div data-asm-control="slideLeft">Slide Left</div>
      <div data-asm-control="slideRight">Slide Right</div>
      <div data-asm-control="slideTop">Slide Top</div>
      <div data-asm-control="slideBottom">Slide Bottom</div>
      <div data-asm-control="pushLeft">Push Left</div>
      <div data-asm-control="pushRight">Push Right</div>
      <div data-asm-control="pushTop">Push Top</div>
      <div data-asm-control="pushBottom">Push Bottom</div>
    </section>
  </div>

  <nav data-asm-slide-left>
    <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ul>
  </nav>
  <nav data-asm-slide-right>
    <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ul>
  </nav>
  <nav data-asm-slide-top>
    <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ul>
  </nav>
  <nav data-asm-slide-bottom>
    <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ul>
  </nav>
  <nav data-asm-push-left>
    <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ul>
  </nav>
  <nav data-asm-push-right>
    <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ul>
  </nav>
  <nav data-asm-push-top>
    <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ul>
  </nav>
  <nav data-asm-push-bottom>
    <ul>
      <li>Apples</li>
      <li>Pears</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ul>
  </nav>