<h1>
Links Here
</h1>

<!-- <div ng-repeat="post in posts">
	<a href="{{post.url}}"> {{post.title}}   </a>
	<a ng-submit="deletePost($index)"> Delete </a>
</div>
 -->

<div ng-repeat="(postId, post) in posts">
	<a href="{{post.url}}"> {{post.title}}   </a>
	<a ng-click="fireDelete(postId)"> Delete </a>
</div>


<!-- <form ng-submit="submitPost()">

	<input type="text" ng-model="post.title">
	<input type="text" ng-model="post.url">

	<input type="submit" value="Add Post">

</form> -->


<form ng-submit="firePost()">

	<input type="text" ng-model="post.title">
	<input type="text" ng-model="post.url">

	<input type="submit" value="Add Post">

</form>

<!-- Titles:
<div ng-repeat="single in posts">
	{{single.title}}
</div>

<br>

Urls:
<div ng-repeat="single in posts">
{{single.url}}
</div>
<br> -->

