<!DOCTYPE html>
<html>
	<head>
		<title> title </title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/bootstrap/bootstrap.css' />    	
    	<link rel='stylesheet' href='/stylesheets/main.css' />
	</head>


	<body>
		<div class="container">
			<div class="navbar navbar-default">
				<div class="container"> 
					<div class="navbar-header"> 
						<a navbar-brand href="/"> appname </a>
					</div>
				</div>


				<h1> Title</h1>
				<p> Welcome to Todo App</p>


				<%- body %>

				
			</div>
		</div>



	</body>


	<script type="text/javascript" src='/javascripts/jquery.js'></script>
	<script type="text/javascript" src='/javascripts/main.js'></script>

</html>
